.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.header__logo {
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.header__link {
  font-size: var(--normal-font-size);

  a {
    color: #fff;
    transition: 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  a:active {
    opacity: 0.6;
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  
}

.header__link:nth-child(1) {
  margin-right: 30px;
}

.header__navigation {
  width: 29.875em;
  margin-left: 40px;
}

.header__menu_mobile {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.stick {
  width: 34px;
  height: 2px;
  background-color: #000;
  margin: 4px;
}


.header__link_active {
  border-bottom: solid 2px #fff;
}

@media (max-width: 1022px) {
  .header__link {
    
    a {
      color: #000;
    }
    
  }
  .header__link_active {
    border-bottom: solid 2px #68B738;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 678px) {
  .header__navigation {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .header {
    margin-top: 11px;
  }

}