.main__background {
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 50%;
}

.main__position {
  margin-left: auto;
  width: 50%;
  position: relative;
  .main__image_can {
    position: absolute;
    left: -100px;
    top: 143px;
  }
}

@media (max-width: 1022px) {
  .main__background {
    display: none;
  }
  .main__position {
    width: 100%;
  
    .main__image_can {
      width: 70%;
      position: absolute;
      top: 200px;
      left: 25%;
      z-index: -1;
    }
  }
}

@media (max-width: 678px) {
  .main__position {
    margin-left: auto;
    width: 100%;
    position: relative;
    .main__image_can {
      width: 80%;
      left: 40px;
      top: 150px;
    }
  }
  .main__background {
    display: block;
    width: 100%;
    margin-top: 60px;
  }
}